<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ba00ab60f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/home">
                <img src="/img/logo-mercado-liebre.svg" class="logo">
            </a>
            <input type="search" name="" id="" class="search-bar">
            <p class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
    <main class="main-register">
        <form action="/home" method="GET">
            <div class="form-row">
                <input type="text" name="name" id="nameInput" placeholder="Nombre y Apellido">
            </div>
            <div class="form-row">
                <input type="text" name="username" id="usernameInput" placeholder="Nombre de Usuario">
            </div>
            <div class="form-row">
                <label for="birthInput">Fecha de nacimiento</label>
                <input type="date" name="birth" id="birthInput">
            </div>
            <div class="form-row">
                <input type="text" name="address" id="addressInput" placeholder="Domicilio">
            </div>
            <div class="form-row" style="justify-content: flex-start;">
                <label for="profileTypeInput">Uso del Perfil</label>
                <select name="profileType" id="profileTypeInput">
                    <option value="comprar">Comprar</option>
                    <option value="vender">Vender</option>
                </select>
            </div>
            <div class="form-row">
                <fieldset style="width: 100%;">
                    <legend>Categorías de Interés:</legend>
                    <input type="checkbox" name="electro" id="electro" value="Electro">Electro<br>
                    <input type="checkbox" name="moda" id="moda" value="Moda">Moda<br>
                    <input type="checkbox" name="hogar" id="hogar" value="Hogar">Hogar<br>
                    <input type="checkbox" name="jugueteria" id="jugueteria" value="Jugueteria">Jugueteria<br>
                    <input type="checkbox" name="vida-sana" id="vida-sana" value="Vida Sana">Vida Sana<br>
                </fieldset>
            </div>
            <div class="form-row">
                <label for="imageInput">Imagen del Perfil:</label>
                <input type="file" name="image" id="imageInput">
            </div>
            <div class="form-row">
                <label for="passwordInput">Contraseña</label>
                <input type="password" name="password" id="passwordInput">
            </div>
            <div class="form-row">
                <label for="confirmPasswordInput">Confirmar contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPasswordInput">
            </div>
            <div class="form-row" style="justify-content: space-between;">
                <button type="reset" style="background-color: red;">Borrar</button>
                <button type="submit" style="background-color: #1259c3;">Registrarse</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-element">
            <i class="fas fa-credit-card"></i>
            <p><strong>Paga con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-element">
            <i class="fas fa-gift"></i>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-element">
            <i class="fas fa-user-shield"></i>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <div>
            <p>Copyright &copy; 1999-2021 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    </div>
</body>
</html>